@font-face {
    font-family: 'rawy';
    src: url('../fonts/VIP-Rawy-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../fonts/DIN-NEXT_-ARABIC-REGULAR.otf');
    font-style: normal;
}

@font-face {
    font-family: 'janna';
    src: url('../fonts/JannaLT-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'bs';
    src: url('../fonts/Bassam-Ostorah.ttf');
    font-style: normal;
}